/* css */



/*PHONE ADJUSTMENTS*/

@media screen and (max-width: 480px) {
body {
    background-color: green;
    }
    
.logo {
    grid-column: 1/3;
    margin-top: 20px;
    text-align: center;
    }
    
.links {
    grid-column: 1/3;
    margin-top: 10px;
    text-align: center;
    }
    16 / 17
    }


/*header*/

body {
    background-color: #F2F2F2;
    margin: 0;
    }

.header {
    background-color: black;
    width: 100%;
    color: white;
    margin: auto;
    position: fixed;
    }

.logo {
    float: left;
    font-size: 1.5rem;
    padding: 10px;
    }


/* side nav bar */
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

/* portfolio*/

.work {
    margin: auto;
    background-color: black;
    }

.pictures {
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    object-fit:fill;
    }

/*about page*/

#about {
    padding: 20px;
    background-color: black
    }

h3 {
    font-size: 1.4em;
    margin-top: 1.8em;
    text-align: center;
    }

.me {
    width: 100%;
    height: auto;
    padding: 20px 0;
    text-align: center;
     
    }

p {
    margin: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 150px;
    padding-right: 150px;
    
    }

p2 {
    padding-top: 10px;
    padding-bottom: 10px; 
    
    }


.divider {
    padding-top: 10px;
    padding-left: 100px;
    padding-right: 100px;
    }

.skills {
    margin: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 150px;
    padding-right: 150px;
    }

.bar {
    display: block;
    padding-left: 150px;
    padding-right: 150px;
    margin: auto;
    }

.wide {

}

.percent{
    background-color: grey; 
    max-width: inherit;
    }

/*contact*/

.contact {
    background-color: gray
}

.details {
   margin: auto;
    padding-top: 10px;
    padding-bottom: 10px;

}

.name {
    margin: auto;
    padding-top: 10px;
    padding-bottom: 10px;
   
}

.email {
    margin: auto;
    padding-top: 10px;
    padding-bottom: 10px;
}

.message {
    margin: auto;
    padding-top: 10px;
    padding-bottom: 10px;
}

.required{
    max-width: 100%;
}

.button {
    
}


.details {
    grid-row: auto;
}

/*footer*/

.footcontainer {
    
}

.rows {
    margin: auto;

    
}

.moreinfo {
    margin: auto;
    text-align: center;
}

.socials {
    display: block;
    
}

#insta {
    text-align: center;
    
}

#facebook {
    text-align: center;
    
}

#tumblr {
    text-align: center;
}


.foot {
    margin: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    background-color: black;
    color: white;
}

